body {
  margin: 0;
  padding: 0;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

#chartdiv {
  width: 100%;
  height: 100vh;
}

/* Esconde o logo amCharts */
#chartdiv > div > div:nth-child(1) > div > canvas:nth-child(2) {
  display: none;
}
